<section class="hero has-background-grey-lighter is-fullheight">
  <div class="hero-body">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column has-background-link has-text-centered py-6">
          <br><br>
          <h2 class="title is-4 has-text-white">
            {{ "LOGIN_PAGE.welcome_title" | translate }}
          </h2>
         <br>
          <p class="subtitle is-5 has-text-white">
            {{ "LOGIN_PAGE.welcome_description" | translate }}
          </p>
        </div>
        <div class="column is-5-tablet is-4-desktop is-4-widescreen p-5" style="background-color: white; color: #000;">
          <h3 class="subtitle is-4 has-text-grey">welcome</h3>
          <h3 class="title is-3 has-text-link">Sign in to your account</h3>
          <form action="">
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="iconEnvelope"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="iconKey"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
               Remember me
              </label>
            </div>
            <div class="field">
              <button class="button is-link">
                Login
              </button>

              <button class="button is-dark is-pulled-right">
                Forget Password
              </button>
            </div>
          </form>
        </div>

      </div>
      <div class="columns">
        <div class="column has-text-centered">
          <button class="button is-ghost" [ngClass]="{'has-text-black': item.value === currentLang}" *ngFor="let item of listLang">{{ item.label }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
