<div class="columns has-background-light mx-0 mt-4">
  <div class="column">
    <div class="columns">
      <div class="column is-one-quarter pt-4">
        Items per page:
      </div>
      <div class="column">
        <div class="select">
          <select>
            <option *ngFor="let item of perPage">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="column">

    <div class="columns ">
      <div class="column has-text-right is-three-fifths pt-4">
        Show 6-10 of 100
      </div>
      <div class="column has-text-centered pt-4">
        <a class="is-link">Prev</a>
      </div>
      <div class="column">
        <div class="select">
          <select>
            <option *ngFor="let i of listPage">{{ i }}</option>
          </select>
        </div>
      </div>
      <div class="column pt-4 has-text-centered">
        <a class="is-link">Prev</a>
      </div>
    </div>
  </div>
</div>
