.menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  height: 100vh;
  padding: 0;
  box-shadow: none;
  color: #fff;
  padding-top: 10px;

  .menu-list a {
    color: #fff;
  }

  &.is-actived{
    width: 14rem!important;
  }

  a {
    margin: 5px;
  }
  a:hover {
    margin: 5px;
  }
}

.bg-color {
  text-align: center;
  font-weight: bolder;
}
