<div class="columns mb-3">
  <div class="column">
    <div class="control has-icons-left">
      <input type="text" placeholder="Seach data" class="input is-small">
      <span class="icon is-small is-left">
        <fa-icon [icon]="iconSearch"></fa-icon>
      </span>
    </div>
  </div>
  <div class="column is-half">

  </div>
  <div class="column has-text-right">
    <a class="button is-link is-small" [routerLink]="['./form/add']"> <fa-icon [icon]="iconPlus"></fa-icon>&nbsp;&nbsp;Add New</a>
  </div>
</div>
